flows.json
[{"id":"22402872.936ed8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ce6fdb21.b32e58","type":"mqtt in","z":"22402872.936ed8","name":"","topic":"python/mqtt","qos":"2","datatype":"auto","broker":"edd3004a.11da88","nl":false,"rap":true,"rh":0,"x":130,"y":280,"wires":[["facd087.e47c4f8","1fd2718f.d2be2e"]]},{"id":"facd087.e47c4f8","type":"ui_text","z":"22402872.936ed8","group":"f9ff6e54.b1e71","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":280,"wires":[]},{"id":"32d19830.07ddf","type":"debug","z":"22402872.936ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":140,"wires":[]},{"id":"6bc7ec0b.110d74","type":"ui_worldmap","z":"22402872.936ed8","group":"f9ff6e54.b1e71","order":1,"width":"0","height":"0","name":"","lat":"19.431374","lon":"-99.138425","zoom":"14","layer":"OSMC","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"CO","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS,SW","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":840,"y":200,"wires":[]},{"id":"3af5f587.f8b352","type":"ui_gauge","z":"22402872.936ed8","name":"","group":"f370cfb7.9f1c18","order":0,"width":"4","height":"4","gtype":"donut","title":"Sensor 1","label":"l/s","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#07aff7"],"seg1":"","seg2":"","x":840,"y":400,"wires":[]},{"id":"328866c0.301b52","type":"function","z":"22402872.936ed8","name":"","func":"msg.payload = msg.payload.value\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":400,"wires":[["3af5f587.f8b352"]]},{"id":"1fd2718f.d2be2e","type":"json","z":"22402872.936ed8","name":"","property":"payload","action":"obj","pretty":true,"x":270,"y":360,"wires":[["d42d6d3.5ca5c1","dcad99c4.4c919"]]},{"id":"d42d6d3.5ca5c1","type":"switch","z":"22402872.936ed8","name":"","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":470,"y":480,"wires":[["328866c0.301b52"],["5430a3bd.d90ea4"],["1c84f7b6.d71ed"],["a660a081.a738c"],["7091aa9e.7065e4"]],"inputLabels":["ID Sensor"]},{"id":"5430a3bd.d90ea4","type":"function","z":"22402872.936ed8","name":"","func":"msg.payload = msg.payload.value\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":440,"wires":[["cb88f0.dd2b2f1"]]},{"id":"1c84f7b6.d71ed","type":"function","z":"22402872.936ed8","name":"","func":"msg.payload = msg.payload.value\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":480,"wires":[["bd0a8c34.5aba5"]]},{"id":"a660a081.a738c","type":"function","z":"22402872.936ed8","name":"","func":"msg.payload = msg.payload.value\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":520,"wires":[["c23dec94.f69b7"]]},{"id":"7091aa9e.7065e4","type":"function","z":"22402872.936ed8","name":"","func":"msg.payload = msg.payload.value\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":560,"wires":[["ea3d9275.d08bf"]]},{"id":"cb88f0.dd2b2f1","type":"ui_gauge","z":"22402872.936ed8","name":"","group":"f370cfb7.9f1c18","order":0,"width":"4","height":"4","gtype":"donut","title":"Sensor 2","label":"l/s","format":"{{value}}","min":0,"max":"50","colors":["#ca3838","#e6e600","#07aff7"],"seg1":"","seg2":"","x":840,"y":440,"wires":[]},{"id":"bd0a8c34.5aba5","type":"ui_gauge","z":"22402872.936ed8","name":"","group":"f370cfb7.9f1c18","order":0,"width":"4","height":"4","gtype":"donut","title":"Sensor 3","label":"l/s","format":"{{value}}","min":0,"max":"50","colors":["#ca3838","#e6e600","#07aff7"],"seg1":"","seg2":"","x":840,"y":480,"wires":[]},{"id":"c23dec94.f69b7","type":"ui_gauge","z":"22402872.936ed8","name":"","group":"f370cfb7.9f1c18","order":0,"width":"4","height":"4","gtype":"donut","title":"Sensor 4","label":"l/s","format":"{{value}}","min":0,"max":"50","colors":["#ca3838","#e6e600","#07aff7"],"seg1":"","seg2":"","x":840,"y":520,"wires":[]},{"id":"ea3d9275.d08bf","type":"ui_gauge","z":"22402872.936ed8","name":"","group":"f370cfb7.9f1c18","order":0,"width":"4","height":"4","gtype":"donut","title":"Sensor 5","label":"l/s","format":"{{value}}","min":0,"max":"50","colors":["#ca3838","#e6e600","#07aff7"],"seg1":"","seg2":"","x":840,"y":560,"wires":[]},{"id":"dcad99c4.4c919","type":"function","z":"22402872.936ed8","name":"","func":"let id = msg.payload.id;\nlet lat = 0, lon  = 0;\n\nlat = parseFloat(msg.payload.position.split(\",\")[0]);\nlon = parseFloat(msg.payload.position.split(\",\")[1]);\nmsg.payload = {\"name\": \"Sensor \" + id,\n               \"lat\": lat, \n               \"lon\": lon,\n               \"icon\": \"fa-tint\",\n               \"iconColor\": \"#00bfff\"\n               //\"line\": [19.445018, -99.123342]\n              };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["6bc7ec0b.110d74"]]},{"id":"a890012e.c7bfd","type":"worldmap in","z":"22402872.936ed8","name":"","path":"/worldmap","events":"connect,disconnect,point,bounds,files,draw,other","x":250,"y":180,"wires":[["32d19830.07ddf"]]},{"id":"edd3004a.11da88","type":"mqtt-broker","name":"","broker":"broker.emqx.io","port":"1883","clientid":"yaelrmz","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f9ff6e54.b1e71","type":"ui_group","name":"Rx","tab":"5341aebf.115e08","order":2,"disp":false,"width":"25","collapse":false},{"id":"f370cfb7.9f1c18","type":"ui_group","name":"Tx","tab":"5341aebf.115e08","order":1,"disp":false,"width":"4","collapse":false},{"id":"5341aebf.115e08","type":"ui_tab","name":"Lecturas de sensores de agua","icon":"dashboard","order":4,"disabled":false,"hidden":false}]